@model IEnumerable<Blog>
@{
    this.ViewData["Title"] = "Manage Blogs";
}

<component type="typeof(HeaderComponent)"
           param-Title="@this.ViewData["Title"]"
           render-mode="Static"/>

<div class="container my-3">
    <div class="row">
        <div class="col-12 text-center p-3">
            <a class="btn btn-primary btn-outline" asp-controller="Blog"
               asp-action="AddBlog">

                + Post Blog
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table text-white w-100 mt-3">
                <thead>
                    <tr>
                        <th scope="col">
                            Id
                        </th>
                        <th scope="col">
                            Title
                        </th>
                        <th scope="col">
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Blog blog in this.Model)
                    {
                        <tr>
                            <th scope="row">
                                @blog.Id
                            </th>
                            <td>
                                @blog.Title - @blog.DatePosted.ToString("MMMM-dd-yyyy")
                            </td>
                            <td>
                                <a class="text-white" asp-controller="Blog"
                                   asp-action="ViewBlog" asp-route-id="@blog.Id">

                                    View
                                </a>
                                |
                                <a class="text-white" asp-controller="Blog"
                                   asp-action="EditBlog" asp-route-id="@blog.Id">

                                    Edit
                                </a>
                                |
                                <a class="text-white" asp-controller="Blog"
                                   asp-action="RemoveBlog" asp-route-id="@blog.Id">

                                    Delete
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>