@model Project
@{
    Project project = this.Model is null
                ? new()
                : this.Model;
}

<div class="mb-3">
    <label class="form-label text-white" asp-for="Title"></label>
    <input class="form-control text-black" type="text"
           asp-for="Title" value="@project.Title"/>

    <span class="text-info" asp-validation-for="Title"></span>
</div>
<div class="mb-3">
    <label class="form-label text-white" asp-for="Details"></label>
    <input class="form-control text-black" type="text"
           asp-for="Details" value="@project.Details"/>

    <span class="text-info" asp-validation-for="Details"></span>
</div>
<div class="mb-3">
    <label class="form-label text-white" asp-for="Url"></label>
    <input class="form-control text-black" type="text"
           asp-for="Url" value="@project.Url"/>

    <span class="text-info" asp-validation-for="Url"></span>
</div>
<div class="mb-3">
    <label class="form-label text-white" asp-for="Content"></label>
    <textarea asp-for="Content">
        @project.Content
    </textarea>
    <span class="text-info" asp-validation-for="Content"></span>
</div>
<div class="mb-3">
    <label class="form-label text-white" asp-for="IsFeatured">
        Feature project?
    </label>
    <label class="switch">
        <input asp-for="IsFeatured" value="@project.IsFeatured"/>
        <span class="slider"></span>
    </label>
</div>
